div(style='height:100vh; display: flex; justify-content: center; align-items: center')
    .panel.panel-primary
        .input-group
            input.form-control(placeholder='username')
        .input-group
            input.form-control(placeholder='username')
        a.btn.btn-default Login
        a(href='') Maak een account