div(style='height:100vh; display: flex; justify-content: center; align-items: center')
    .panel.panel-primary
        .panel-body
            .form-group
                input.form-control(placeholder='username')
            .form-group
                input.form-control(placeholder='username')
            .form-group(style='display:flex; justify-content:center')
                a.btn.btn-default(style='width:100%') Login
            .form-group(style='display:flex; justify-content:center')
                a(href='') Maak een account