div(style='height:100vh')
    .header(style='position:absolute; height:100px; width:100vw')
        img(src='/resources/tijdlijn/HEADERBALK.png' style='height:inherit; width:inherit')
    .timeline
    .backpack