div(style='height:100vh')
    .header(style='position:absolute; height:100px; width:100vw; ')
        img(src='/resources/tijdlijn/HEADERBALK.png' style='height:inherit; width:inherit')
    #profile(style='height:50vh; display:flex; justify-content:space-around')
            div(style=' display:flex; justify-content: center; align-items: center; flex-grow:1 ')
                img.img-responsive#profileImage(src='/resources/tijdlijn/KARAKTER.png' style='width:250px')
            div(style=' display:flex; justify-content: center; align-items: center; flex-direction:column; flex-grow:1')
                div name
                div status | level
                div progression bar
            div(style='display:flex; justify-content: center; align-items: center; flex-grow:3')
                div location
    #gallery(style='height:50vh; display:flex; ')
        